.progress-bar-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.progress-bar > .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    color: #777;
}
.progress-bar .label {
}
.progress-bar .value {
}
.progress-bar > .bottom {
    background-color: #ccc;
    width: 100%;
    height: 0.5rem;
    border-radius: 0.25rem;
    overflow: hidden;
}
.progress-bar .progress {
    background-color: #03a9f4;
    width: 90%;
    height: inherit;
    border-radius: 0 0.25rem 0.25rem 0;
}
